@import "bootstrap";

// home/index.html.erb styles
.center-div {
  text-align: center;
  margin: auto;
  width: 80%;
}

.user-details {
  > .username {
    font-style: italic;
  }
}

.follow-container {
  color: gray;
}

// .post-card {
//   background-color: white;
//   margin-top: 2px;
//   margin-bottom: 2px;
//   > .author {
//     color: blue;
//     display: inline-block;
//   }
// }

.card {
  text-align: left;
  margin-bottom: 10px;
}
